/.idea/
/Sel3_Automation/executables/
/Sel3_Automation/Selenium3Ggroup2.iml
/Sel3_Automation/.classpath
/Sel3_Automation/.project
/selenium-core/.classpath
/selenium-core/.project
/Sel3_Automation/ExtentReport 2023-07-31 22-13-13.html
/Sel3_Automation/ExtentReport 2023-07-31 22-16-14.html
/Sel3_Automation/ExtentReport 2023-07-31 22-17-30.html
/Sel3_Automation/ExtentReport 2023-07-31 22-18-51.html
/Sel3_Automation/ExtentReport 2023-07-31 22-26-48.html
/Sel3_Automation/ExtentReport 2023-07-31 22-28-21.html
/Sel3_Automation/ExtentReport 2023-07-31 22-38-57.html
/Sel3_Automation/ExtentReport 2023-07-31 22-40-50.html
/selenium-group.iml
